@model SystemInventory.Models.Question

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Question</h4>
    <hr />
    <div class="row">
        <div class = "col-sm-2">
            <h5>@Html.DisplayNameFor(model => model.Title)</h5>
        </div>
        <div class = "col-sm-10">
            <h5>@Html.DisplayFor(model => model.Title)</h5>
        </div>
        <div class = "col-sm-2">
            <code>@Html.DisplayNameFor(model => model.Response)</code>
        </div>
        <div class = "col-sm-10">
            <p>@Html.DisplayFor(model => model.Response)</p>
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </div>
        <div class = "col-sm-10">
            <h5>@Html.DisplayFor(model => model.Category)</h5>
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </div>
        <div class = "col-sm-10">
            <a href="@Html.DisplayFor(model => model.Link)">LINK</a>
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
